.digitalclock-root {
  display: flex;
  align-items: center;
  justify-content: center;

  & .digitalclock {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    & .clock-date {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
    }

    & .span-line {
      width: 100%;
      height: 0px;
      box-shadow: 0px 0px 5px 4px rgba(255, 255, 255, 1);
    }
    & .clock-time {
      display: flex;
      justify-content: center;
      align-content: center;
      align-items: center;
      width: 100%;

      & .clock-col {
        text-align: center;
        margin-right: 40px;
        margin-left: 40px;
        min-width: 90px;
        position: relative;
        &:not(:last-child):before,
        &:not(:last-child):after {
          content: "";
          background-color: rgba(255, 255, 255, 0.3);
          height: 5px;
          width: 5px;
          border-radius: 50%;
          display: block;
          position: absolute;
          right: -42px;
        }
        &:not(:last-child):before {
          top: 35%;
        }
        &:not(:last-child):after {
          top: 50%;
        }
      }
      & .clock-timer {
        line-height: 75%;
        text-transform: uppercase;
      }
      & .clock-label {
        opacity: 0.5;
        text-transform: uppercase;
        font-size: 0.15em;
        margin-top: 5px;
      }
    }
  }
}
